NOEMA_ENV=development
NOEMA_API_PORT=8787
NOEMA_DATABASE_URL=
NOEMA_OPENAI_API_KEY=
NOEMA_XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
NOEMA_XLAYER_CHAIN_ID=1952
NOEMA_XLAYER_BUILDER_CODE=
NOEMA_XLAYER_REGISTRY_ADDRESS=
NOEMA_XLAYER_PUBLISHER_ADDRESS=0x0652d43faab944e65d01e351ed2626c4265677fc
NOEMA_XLAYER_PUBLISHER_PRIVATE_KEY=
NOEMA_OKX_API_KEY=
NOEMA_OKX_SECRET_KEY=
NOEMA_OKX_PASSPHRASE=
NOEMA_RWA_XYZ_API_KEY=
NOEMA_DISCORD_WEBHOOK_URL=
NOEMA_WEBHOOK_SIGNING_SECRET=
